<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983481189837-b4iprhk2ao3a41dkelieha6q696st1u4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983481189837-b4iprhk2ao3a41dkelieha6q696st1u4</string>
	<key>API_KEY</key>
	<string>AIzaSyDYip5RP-SERJYK7q-LaJrQdCfW7WzPcfw</string>
	<key>GCM_SENDER_ID</key>
	<string>983481189837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.umk.helloEarth</string>
	<key>PROJECT_ID</key>
	<string>helloearth-7e025</string>
	<key>STORAGE_BUCKET</key>
	<string>helloearth-7e025.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983481189837:ios:2492565ca412e2555cb084</string>
</dict>
</plist>